body {
  font-family: fantasy;
  font-size: 16px;
  background-color: steelblue;
}

p {
  font-size: 2rem;
  margin: 3rem;
}

li {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: underline;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  margin-right: 1rem;
}

h2 {
  font-size: 2.5rem;
  padding: 2rem;
}


.nav {
  padding: 1rem;
  background-color:darkcyan;
}


.intro {
  padding: 2rem;
  height: 12rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.what {

  background-color:darkcyan;
  padding-top: 10rem;
  padding: 1rem;
  display:block;
  margin: auto 2.5rem;
  text-align: center;
}

.photos {
  display: inline;
  height: auto;
}

.when img {
  width: 30rem;
  height: auto;
}

.when {
  margin: 2rem 2rem;
}

.join {
  margin: 2rem 2rem;
  text-align: center;
}

@media only screen and (max-width: 1048px) {

  .photos img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 640px) {

  .intro {
    max-height: 200px;
  }

  .photos img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {

  h2 {
    font-size: 2rem;
  }

  .photos img {
    width: 100%;
  }

  p {
    margin: 1.5rem;
  }

}